# --- Python Environment & Dependencies ---
env/
venv/
.env
__pycache__/
*.py[cod]
*$py.class

# --- Machine Learning Models & Large Data ---
# Exclude these as they are usually too large for GitHub
final_twitch_sentiment_model/
processed_data/
twitch_model_results/
*.pt
*.pth
*.h5

# --- IDE & OS Files ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Log Files ---
*.log